.myForm {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.wrapper {
    max-width: 150px;
    margin: auto;
}

input {
    padding: 5px;
    max-width: 150px;
}

input:focus {
    border: 3px solid blue;
}

.display-color {
    margin-top: 5px;
}

input, .display-color {
    height: 40px;
}
